.profile-image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-image-wrapper img {
  transition: 0.3s;
  border: 2px solid #8a8a8a;
}

.profile-image-wrapper:hover img {
  filter: brightness(70%);
}

.overlay-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.profile-image-wrapper:hover .overlay-hover {
  display: flex;
}
